/* Credits for the crossfade to https://gist.github.com/A973C/7068921*/
body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.css-slideshow{
  position: relative;
  max-width: 850px;
  height: 500px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 850px;
  height: 500px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .8);
  font-size: 1.5em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}

/* >>>>>>>>>> BEGIN CROSSFADE GENERATION */
figure:nth-child(1) {
    animation: xfade 30s 25s infinite;
}
figure:nth-child(2) {
    animation: xfade 30s 20s infinite;
}
figure:nth-child(3) {
    animation: xfade 30s 15s infinite;
}
figure:nth-child(4) {
    animation: xfade 30s 10s infinite;
}
figure:nth-child(5) {
    animation: xfade 30s 5s infinite;
}
figure:nth-child(6) {
    animation: xfade 30s 0s infinite;
}


@keyframes xfade {
  0%{
    opacity: 1;
  }
  16.666666666666668%{
    opacity: 1;
  }
  25.0%{
    opacity: 0;
  }
  98%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* >>>>>>>>>> END CROSSFADE GENERATION */
